.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 300px;
  margin: 0;
  background :#333;
  overflow: hidden;
  border-top: 1px solid red;
}

footer {
  margin: 2em auto 0;
  padding: 2em 1em 1em;
}
