.header-container {
  margin: 0;
}

header {
  margin: 0 auto em(30);
  padding: 1em;
  text-align: center;
  ul {
    display: inline-block;
    margin-bottom: em(10);
  }
}

.blog-title {
  display: block;
  margin: 0 auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url(/images/shovel@2x.png) no-repeat center bottom;
  background-size: 100% 100%;
  width:135px;
  height:50px;
}
